<!DOCTYPE html>
<html>
  <head>
      <title>Employee</title>

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/tourist.css') }}">

      <link rel="shortcut icon" href="{{ url_for('static', filename = 'paw.png') }}" >


  </head>

  <body>

          <a href="{{ url_for('home', filename = 'homepage.html') }}"><img src="{{ url_for('static', filename = 'home.png') }}"class="home" ></img></a>
          <img id= "background" src= "{{ url_for('static', filename = 'cubs.jpg') }}"> </img>
          <center>
          <p id="welcome"> WELCOME </p>
          <pre id="welcome" style="font-size:20px;margin-top: -20px;">Please    enter    details:</pre>

          <div id="form">
            <br>
            <center>
            <p> Add Employee </p>
            Name: <input type="text" name= "Ename" ><br><br>
            Job title : <input type="text" name= "job" ><br><br>
            Salary : <input type="text" name= "salary" ><br><br>
            Years of experience : <input type="number" name="yearsofexp" ><br>
            <div class="box-3">
                <div class="btn btn-three">
                    <button id="addanimal">ADD EMPLOYEE</button>
                  </div>
            </div>
            <br>
            <p> View Employee </p>
            Name: <input type="text" name= "Ename" ><br><br>
            Employee id : <input type="text" name= "Eid" ><br><br>
            </select>
            <div class="box-3">
                <div class="btn btn-three">
                    <button id="viewanimal">VIEW EMPLOYEE</button>
                  </div>
            </div>

          </center>
          </div>

          </center>

  </body>

</html>
